.taskmanager {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 780px;
  min-height: 600px;
  background: #060b26;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.h1-list {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.tm-form {
  margin-bottom: 32px;
}

.tm-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 600px;
  background: transparent;
  color: #fff;
}

.tm-input::placeholder {
  color: #e2e2e2;
}

.tm-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.task-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.task-input.edit {
  border: 2px solid #149fff;
}

.task-button.edit {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.task-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(20, 161, 255) 0%,
    rgb(17, 41, 255) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.task-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(12, 247, 255) 0%,
    rgb(0, 221, 250) 100%
  );
}

.task-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(12, 89, 255) 0%,
    rgb(0, 221, 250) 100%
  );
}

.task-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
